.main {
  display: flex;
  min-width: 1200px;
  align-items: flex-start;

  :global {
    .display-area {
      width: 100%;
      margin: 15px;
      display: flex;
      justify-content: center;
    }

    .devices-container {
      // max-width: 100%;
      padding: 46px 10px;
      background: #ffffff;
      position: relative;
      border-radius: 30px;

      box-shadow: 6px 6px 20px #bfbfbf;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 19px;
        width: 60px;
        height: 4px;
        border-radius: 2px;
        background: #dedede;
        transform: translateX(-50%);
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #92692c;
        transform: translateX(-50%);
      }
    }
    #devices-view {
      border: 1px solid #efefef;
      transition: 0.5s;
      overflow-x: hidden;
      max-width: 100%;
    }

    .panel-link {
      .link {
        display: flex;
      }

      .btn {
        margin-left: 5px;
      }
    }

    .setting-area {
      width: 270px;
      margin: 15px;
      flex-shrink: 0;
    }
    .size-list {
      // margin-top: 10px;
      font-size: 12px;
      line-height: 28px;

      .size-item {
        transition: 0.3s;
        cursor: pointer;

        &.active,
        &:hover {
          color: #3a8ee6;
        }
      }
    }

    .diy-size {
      display: flex;
      align-items: center;
      margin-top: 10px;
      font-size: 12px;
      input {
        width: 44px;
      }
      span {
        margin:0 8px;
      }
    }

    .panel-qrcode {
      .panel-content {
        display: flex;
       justify-content: center;
       padding: 20px 0;
      }
    }
  }
}
